<div class="container dashboard">
    <div class="row">
        <div class="col-6">
            <div class="create-game">
                <h5 class="text-center">Let's start</h5>
                <form>
                    <fieldset>
                        <div class="form-group">
                            <label for="disabledTextInput">Game type</label>
                            <select id="disabledSelect1" class="form-control" [(ngModel)]="gameType" [ngModelOptions]="{standalone: true}" (change)= "changeGame()">
                                <option [value] = "'offline'" selected>Offline</option>
                                <option [value] = "'COMPUTER'">Computer</option>
                                <option [value] = "'COMPETITiON'">Competition</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="disabledSelect" >Play as</label>
                            <select id="disabledSelect2" class="form-control" [(ngModel)]="playAs" [ngModelOptions]="{standalone: true}" (change)= "changeGame()">
                                <option selected [value] = "'X'">X</option>
                                <option [value] = "'O'">O</option>
                            </select>
                        </div>
                        <small class="d-flex text-danger error-form mb-2" *ngIf="errorText">{{errorText}}</small>
                        <button type="submit" class="btn btn-primary" (click)="navigateGameBoard()">Create New Game</button>
                    </fieldset>

                </form>
            </div>
        </div>
        <div class="col-6">
            <h5 class="text-center mb-4">Join existing game</h5>
            <app-table [titleHeader] = "titleHeaderExistGame"></app-table>
            <h5 class="text-center mb-4"> My Game</h5>
            <app-table [titleHeader] = "titleHeaderMyGame"></app-table>
        </div>
    </div>
</div>